body {
  background: rgb(108, 109, 109);
}
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.main__header {
  color: #27f59f;
}

.about {
}

.about__heading {
  color: rgb(0, 124, 133);
}

.about_link {
  color: crimson;
}

section {
  background: lightgrey;
}

.navigation {
  background: #27f59f;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: black;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: #1a9964;
}

.week-summary {
  padding: 16px;
  border: 1px black solid;
  margin-bottom: 15px;
}

.week-summary__title {
  color: rgb(48, 116, 48);
}

.week-summary__description {
  color: rgb(0, 0, 0);
}

.notes {
}

.notes__heading {
  color: rgb(0, 124, 133);
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: white;
}
