html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #21d4fd;
  background-image: -webkit-linear-gradient(
    19deg,
    #21d4fd 0%,
    #b721ff 100%
  );
  background-image: -moz-linear-gradient(
    19deg,
    #21d4fd 0%,
    #b721ff 100%
  );
  background-image: -o-linear-gradient(
    19deg,
    #21d4fd 0%,
    #b721ff 100%
  );
  background-image: linear-gradient(
    19deg,
    #21d4fd 0%,
    #b721ff 100%
  );
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
}
.main__header {
  color: #27f59f;
}

.header {
  background: #ffffff;
  min-height: 61px;
  position: fixed;
  top: 0;
  width: 100%;
}

.about {
  padding: 10px;
  text-align: center;
}

.about__picture {
  display: block;
  max-width: 100%;
  margin: auto;
}

.about__heading {
  color: rgb(0, 124, 133);
}

.about_link {
  color: crimson;
}

section {
  background: lightgrey;
}

.navigation {
  padding: 16px;
  display: none;
}

.navigation--open {
  display: block;
}

.hamburger {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  background: none;
}

.navigation__link {
  color: black;
  display: block;
  margin: 0 0 16px;
  text-decoration: none;
}

.navigation__link--homepage {
}

.week-summary {
  padding: 16px;
  border: 1px black solid;
  margin-bottom: 15px;
}
.week-summary:hover{
  background: rgba(255, 255, 255, 0.459);
}

.week-summary__title {
  color: rgb(48, 116, 48);
}

.week-summary__title::before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #b721ff;
  border-radius: 50%;
}
.week-summary__title::after{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #b721ff;
  border-radius: 50%;
}
.week-summary__description {
  color: rgb(0, 0, 0);
}

.notes {
}

.notes__heading {
  color: rgb(0, 124, 133);
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: white;
}

.list {
  list-style: square;
}

.list__item {
  color: hotpink;
}

.form {
}

.form__item {
  display: block;
  width: 50%;
}

.form__item--adress {
  width: 100%;
}

.form__item--textarea {
  display: block;
  width: 50%;
  height: 500px;
}

.klasa-z-js {
  background: #b721ff;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

@media (min-width: 768px) {
  .navigation {
    /* background: #27f59f; */
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  .main__header {
    margin-top: 100px;
  }
  .navigation__link {
    font-size: 20px;
  }
}
